# Most file are useless. Ignore all but allow exceptions

# Crappy files
.DS_Store

## Sublime Text 3
Cache
Index
Installed Packages
Local
# Ignore Packages
Backup/

.DS_Store
# Ignore all package settings, except the one we want
Packages/

!sublime-text-3
